<a href="https://colab.research.google.com/github/apogace/Anastas-Pogace-HW5/blob/main/Anastas_Pogace_Data_612_HW5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

***Anastas Pogace ***

>

In [2]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')
df

        Unnamed: 0 Utilization Type  ...             Location          NDC
0           128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1           491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2          2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3           491263             FFSU  ...  (43.3504, -84.5603)    781518501
4           836489             FFSU  ...                  NaN  51552080906
...            ...              ...  ...                  ...          ...
156215     2752214             MCOU  ...                  NaN  63868001701
156216     2519195             MCOU  ...  (44.6074, -69.3977)    121048910
156217      815768             MCOU  ...  (42.2373, -71.5314)  60432013325
156218     2029158             FFSU  ...  (38.8964, -77.0262)     88110947
156219     2799238             FFSU  ...  (38.8964, -77.0262)     29152725

[156220 rows x 21 columns]

In [3]:
df.dtypes

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

1. Work on your selected data set and covert a column of non-categorical type into a categorical type.

In [4]:
df.Year.unique()

array([2010])

In [5]:
df['Year_object'] = df['Year'].astype(object)
df.Year_object

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
156215    2010
156216    2010
156217    2010
156218    2010
156219    2010
Name: Year_object, Length: 156220, dtype: object

2. Convert another column into a string type.

In [9]:
df['Suppression Used'] = df['Suppression Used'].astype(str)
df.dtypes

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                   object
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
Year_object                        object
Suppression Used_str               object
dtype: object